.popular-destination {
  display: flex;
  flex-direction: column;
}

.popular-destination article {
  width: 100%;
}

.tokyo-img {
  height: 360px;
  width: 312px;
  background-image: url(../img/Tokyo-poupular-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.popular-destination h5 {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: justify;
  padding: 24px 24px;
  hyphens: auto;
}

.popular-destination h4 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  padding: 24px 24px 0;
}

.button-destinations {
  background-color: var(--secundary-color);
  text-decoration: none;
  color: var(--text-secundary-color);
  border-radius: 8px;
  width: 380px;
  height: 64px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: var(--titles-weight);
  margin-top: 40px;
  margin-bottom: 40px;
}

.tokyo-img-2 {
  background-image: url(../img/Osaka-popular-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 360px;
  width: 312px;
}

@media screen and (min-width: 768px) {
  .tokyo-img {
    width: 648px;
    height: 452px;
  }
  .tokyo-img-2 {
    width: 648px;
    height: 452px;
  }
  .popular-destination h5 {
    padding: 24px 60px;
  }
  .popular-destination h4 {
    padding-top: 0px;
    padding-left: 60px;
  }
  .button-destinations {
    margin: 0 0;
    margin-left: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .popular-destination {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .popular-destination article {
    width: 450px;
  }

  .tokyo-img {
    background-image: url(../img/Tokyo.jpg);
    width: 450px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

  .tokyo-img-2 {
    background-image: url(../img/Osaka.jpg);
    width: 450px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

  .popular-destination h4,
  .popular-destination h5 {
    padding-left: 0;
    padding-right: 0;
  }

  .popular-destination h4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .button-destinations {
    width: 280px;
    height: 64px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .popular-destination {
    gap: 60px;
  }

  .popular-destination article {
    width: 588px;
  }

  .tokyo-img {
    background-image: url(../img/Tokyo.jpg);
    width: 588px;
    height: 452px;
  }

  .tokyo-img-2 {
    background-image: url(../img/Osaka.jpg);
    width: 588px;
    height: 452px;
  }

  .popular-destination h4,
  .popular-destination h5 {
    max-width: 588px;
  }

  .button-destinations {
    width: 320px;
  }
}
